<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.voice.collector.mapper.SampleMapper">
  <insert id="insert" parameterType="egovframework.voice.collector.dto.SampleDto">
    INSERT INTO sample (id, content, post) VALUES (#{id}, #{content}, #{post})
  </insert>

  <select id="selectAll" resultType="egovframework.voice.collector.dto.SampleDto">
    SELECT * FROM sample;
  </select>

  <delete id="delete" parameterType="string">
    DELETE FROM sample WHERE id = #{id}
  </delete>
</mapper>